wheel
flask>=2.2.0
SpeechRecognition
pyaudio
gunicorn
nltk>=3.7
python-dotenv
requests>=2.28.0
python-dotenv>=0.20.0
setuptools
ollama>=0.1.0
prometheus_client
flask_socketio>=5.1.1
eventlet>=0.30.2
python-socketio>=5.4.0
loguru>=0.6.0
gTTS>=2.3.1
PyYAML>=6.0
jsonschema>=4.0.0
psutil
qrcode
Pillow

