wheel
flask
SpeechRecognition
pyaudio
gunicorn
nltk
python-dotenv
requests
setuptools
ollama
prometheus_client
flask_socketio
eventlet
python-socketio
loguru
gTTS
PyYAML
jsonschema
psutil
qrcode
Pillow
docker
pytest
pytest-mock
networkx
matplotlib
paramiko
aiohttp
win10toast; platform_system == "Windows"
python-jose
PyJWT
schedule
scipy
librosa
