wheel
flask
pytest
pytest-mock
psutil
SpeechRecognition
scikit-learn
pyaudio
gunicorn
nltk
python-dotenv
requests
setuptools
ollama
prometheus_client
flask_socketio
eventlet
python-socketio
loguru
gTTS
PyYAML
jsonschema
qrcode
Pillow
docker
networkx
matplotlib
paramiko
aiohttp
win10toast; platform_system == "Windows"
python-jose
PyJWT
schedule
scipy
librosa
mkdocs
mkdocs-material
mkdocstrings
pydocstyle
